.navbar{
    height: 60px;
    border-bottom: .5px solid #be7d408a;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #fff;
    width: 100%;

    .wrapper{
        display: flex;
        align-items: center;
        padding: 20px;
        width: 100%;
        justify-content: space-between;    
    
        .title-container{
            display: flex;
            align-items: center;
            color: #EFEFEF;
            font-family: "Montserrat Alternates";
            font-size: 26px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;

        }

        .containerBtn{
            display: flex;
            align-items: center;
            
            .search{
                display: flex;
                align-items: center;
                border-radius: 28.5px;
                background: rgba(190, 124, 64, 0.29);
                width: 290px;
                height: 35px;
                padding: 0 5px;
                input{
                    border: none;
                    outline: none;
                    background-color: transparent;   
                    width: 100%;     
                }
            }
    
            .icon{
                width: 50px;   
                font-size: 30px; 
                color: rgb(221, 221, 221);
                margin-left: 3px;
            }
        }
        }
}