.formDepto {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambio: center por flex-start */
    min-height: 100vh; /* Agregado: altura mínima para asegurar espacio suficiente */
    margin-top: 5rem;
    .containerleft {
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .file {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 15px;
          background: rgba(167, 166, 166, 0.30);
          width: 386px;
          height: 362px;
        }
        
        .file.hovered {
          border: 2px solid #EE811E;
        }
        
        .file.noVisible {
          display: none;
        }
        
        .preview-container {
          width: 386px;
          height: 362px;
          overflow: hidden;
          border-radius: 15px;
          
          .previewImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
    
    .containerRight {
      display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
      align-items: flex-end; 
      margin-left: 2rem;
      
      .container {
        display: flex;
        flex-direction: column;
        
        .title {
          align-self: start;
          color: #D9D9D9;
          font-family: "Montserrat Alternates";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 1rem 0;
        }
        
        .input {
          border-radius: 8px;
          border: 2px solid rgba(217, 217, 217, 0.20);
          background: rgba(167, 166, 166, 0.10);
          width: 300px;
          height: 40px;
          font-family: "Montserrat Alternates";
          font-size: 14px;
          padding: 0 0 0 1rem;
          color: white;
        }

        .textarea {
            border-radius: 8px;
            border: 2px solid rgba(217, 217, 217, 0.20);
            background: rgba(167, 166, 166, 0.10);
            width: 300px;
            height: 200px;
            font-family: "Montserrat Alternates";
            font-size: 14px;
            padding: 0 0 0 1rem;
            color: white;
        }
        
        .error {
          display: flex;
          align-self: start;
          align-items: center;
          font-size: 10px;
          color: rgba(204, 65, 65, 0.849);
          font-family: "Montserrat Alternates";
          padding: 0;
        }
        
        .error-input {
          border-color: rgba(204, 65, 65, 0.849);
        }
      }
      
      .footerButtons {
        margin-top: 2rem; 
  
        .buttonSubmit{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 10px;
          background: #EE811E;
          width: 100px;
          height: 50px;
          color: white;
          font-size: 12px;
          border-color: #EE811E;
          margin-left: .6rem;
  
          &:hover{
            background-color: #FFA64D;
          }
        }
  
        .buttonCancel{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 100px;
          height: 50px;
          color: white;
          font-size: 12px;
          border-radius: 10px;
          background: #729627;
          border-color: #729627;
  
          &:hover{
            background-color: #50691a;
          }
        }
      }
    }
  }