.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .containerLeft{
        margin: 1rem;
        .imgContainer{
            width: 350px;
            height: 200px;
            .icon{
                font-size: 100px;
            }
        }
    }

    .containerRight{
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .input{
            width: 400px;
        }
    }
}