.VistaDepartamento{

    .formSeleccion{
        .containerForm{
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            z-index: 99;
            .title{
                color: #D9D9D9;
                font-family: "Montserrat Alternates";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 0 1rem ;
            }
            
            .select {
                border-radius: 8px;
                border: 2px solid rgba(217, 217, 217, 0.20);
                background: rgba(167, 166, 166, 0.10);
                width: 450px;
                height: 40px;
                font-family: "Montserrat Alternates";
                font-size: 14px;
                padding: 0 0 0 1rem;
                color: white;
            }
            
            .select option {
                background: rgb(38, 38, 38); 
                color: white;

            }
              
        }
    }
    .container{
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px; /* Ajusta la altura de la sombra según tus necesidades */
            background: linear-gradient(to bottom, rgba(0, 0, 0.5, 0.8), rgba(0, 0, 0, 0));
            z-index: 1;
        }

        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 0;
            padding: 0;
            margin: 0;
        }
        .arriba{
            .title{
                color: #EFEFEF;
                font-family: "Montserrat Alternates";
                font-size: 36px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
            .parrafo{
                color: #D9D9D9;
                font-family: "Montserrat Alternates";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;           
            }
            .subtitle{
                color: #D9D9D9;
                font-family: "Montserrat Alternates";
                font-size: 18px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                padding: 1rem 0;
            }
            .dataTitle{
                color: #D9D9D9;
                font-family: "Montserrat Alternates";
                font-size: 14px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
            .data{
                color: #D9D9D9;
                font-family: "Montserrat Alternates";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 0 1rem 0 0;
            }

            .data-poblacion{
                color: #D9D9D9;
                font-family: "Montserrat Alternates";
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-align: right;
                padding: 0 1rem 0 0;
            }

            .lugar-turistico{
                width: 95%;
                height: 50%;
                display: flex;
                align-items: center;
                padding: .6rem;
                margin: .7rem 0;
                border: 0.5px dashed #6a6b6828;

                .lugar-imagen{
                    width: 150px;
                }
                .container{
                    padding: 0 0.8rem;

                    .lugar-nombre{
                        color: #D9D9D9;
                        font-family: "Montserrat Alternates";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 800;
                        line-height: normal;
                        padding: 0 1rem 0 0;
                    }

                    .lugar-descripcion{
                        color: #D9D9D9;
                        font-family: "Montserrat Alternates";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        padding: 0 1rem 0 0;
                        width: 390px;
                    }
                }
            }
        }
    }
}