.municipios{
    display: flex;
    justify-content: space-between;
    .content{
        display: flex;
        flex-direction: column;
        width: 100vw;
        .form{
            display: flex;
            align-items: flex-end;
            margin: 1.5rem 2.6rem;
        }

        .tabla{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}