.homeContainer {
  display: flex;
  
  .containerHome{
    flex: 6;
    .contenedorFondo {
      position: relative;
  
      .fondo {
        position: absolute;
        top: 60%;
        right: 0;
        object-fit: cover;
        z-index: -1;
      }
    }
    
    .resumen {
      display: flex;
      justify-content: space-around;
    }
  }
}