.widget {
    display: flex;
    flex-direction: column;
    width: 26.875rem;
    height: 18.125rem;
    padding: 1rem;
    border-radius: 10px;
    background: #212121;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
    &:hover {
      transform: translateY(-5px);
    }
    
  .title{
    color: #EDEDED;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: .8rem ;
  }

  @media (max-width: 768px) {
    
  }
}